    html {
        height: 100%
    }

    body {
        padding-top: 10px;
        background: linear-gradient(180deg, rgba(32, 24, 97, 0.11), rgba(0, 0, 0, 0.52));
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100%;
    }

    a:hover {
        text-decoration: none;
    }

    input {
        box-shadow: inset 1px 2px 5px rgb(38, 34, 34);
        padding: 6px;
        border-radius: 11px;
        margin-bottom: 15px;
        border: 1px solid rgba(6, 5, 5, 0.5);
    }

    #playmode h5 {
        cursor: pointer;

    }

    #anotherGameOpt h4 {
        font-size: 1.3em
    }


    #statusMsg {
        padding: 5px;
        color: #e1e9d2;
        background: #476b8f;
        opacity: 0;
    }

    #chgID {
        text-align: center
    }

    #chgID span {
        font-weight: bold;
    }

    .marked.zoom {
        transform: scale(0.5);
    }

    #readyBtn,
    #createBtn,
    #joinBtn {
        color: #cfc2d7;
        display: inline-block;
        background-color: rgba(61, 54, 144, 0.77);
        cursor: pointer;
        border-radius: 12px;
        margin-bottom: 4px;
    }

    #txtsequence {
        background: #e6d9d9;
        padding: 6px;
        letter-spacing: 10px;
        border-radius: 7px;
        opacity: 0;
    }

    #msgicon {
        position: fixed;
        top: 10px;
        left: 15px;
        width: 40px;
        height: 40px;
        text-align: center;
        cursor: pointer;
        display: none;
    }

    #msgicon img {
        width: 30px;
        height: auto;
        opacity: .8;
        display: inline-block;
    }


    .show-none,
    #joinoraccept,
    #acceptBlock {
        display: none;
    }

    #thetimer {
        position: fixed;
        right: 15px;
        top: 2px;
        font-size: 5em;
        color: white;
        font-weight: bold;
        display: none
    }

    #gametable p.redbomb {
        /* background: url(images/box-red.png) center no-repeat !important; */
        background: linear-gradient(-53deg, red, red, rgba(226, 216, 216, 0.5)) !important;
        box-shadow: inset 3px 3px 7px #000 !important;

    }

    #gametable p.greenbox {
        /*  background: url(images/box-green.png) center no-repeat !important; */
        background: linear-gradient(-53deg, green, green, rgba(226, 216, 216, 0.5)) !important;
        box-shadow: inset 3px 3px 7px #000 !important;
    }

    #btn {
        text-align: right
    }

    #challengerInfo {
        font-size: 20px;
        text-align: center;
        padding: 5px;
        color: #e6ebec;
        background: rgba(91, 107, 223, 0.6);
        box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.84);

    }

    #challengerInfo span {
        font-weight: bold;
        font-size: 26px
    }

    #challengerInfo span.link-game {
        font-size: .7em;
        font-weight: normal;
        color: #743ede;
        padding: 3px;
        border-bottom: 2px solid #743ede;
    }

    #challengerInfo span.sm-txt {
        font-weight: normal;
        font-size: .8em;
    }

    #gameover {
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        position: relative;
        top: -300px;
        opacity: .4;
        display: none
    }

    #gametable .row p {
        text-align: center;
        /* height: 48px;
        width: 48px;
        background: url(images/box.png) center no-repeat; */

        border-radius: 50%;
        height: 62px;
        width: 76px;
        background: linear-gradient(-20deg, rgba(0, 0, 0, 0.44), rgba(239, 235, 235, 0.72));
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.66);
        margin-left: 4px;
    }


    .container {
        max-width: 365px;
        height: 100%
    }

    .container>div {
        height: 100%;
    }

    #GameHeader,
    #anotherGameOpt {
        height: auto !important;
    }



    #anotherGameOpt {
        /* top: 100px; */
        position: absolute;
        z-index: 10;
        text-align: center;
        background: #cbd0f3;
        padding: 10px;
        color: #453e83;
        border: solid 1px #fff;
        box-shadow: 2px 1px 8px -1px rgba(0, 0, 0, 0.61);
    }

    @media screen and (max-width: 700px) {
        #anotherGameOpt {
            width: 80%;
            left: 12%;
        }

    }

    @media screen and (min-width: 701px) {
        #anotherGameOpt {
            width: 50%;
            left: 26%;
        }
    }

    #points div {
        text-align: center
    }

    #points span {
        font-size: 2em;
        font-weight: bold
    }

    #puzword {
        position: absolute;
        top: 20%;
        min-width: 350px;
        background: rgba(154, 218, 223, 0.8);
        min-height: 145px;
        max-width: 372px;
        padding: 10px;
        border: 1px solid #cedfe2;
        box-shadow: 0px 2px 7px #211b1b;

    }

    #puzword p {
        font-size: .9em;
    }

    #trytest,
    #skiptest {
        display: inline-block;
        padding: 2px 5px;
        border: 1px solid rgb(146, 145, 174);
        cursor: pointer;
        background-color: rgba(215, 216, 221, 0.29);
    }

    #trytest {
        margin-right: 15px;
    }

    #puzword div span {
        display: inline-block;
        padding: 10px;
        margin: 0 5px;
        font-size: 1.3em;
        width: 40px;
        background: #99f6e3;
        text-align: center;
        box-shadow: 2px 2px 8px #4d4343;
        border-radius: 7px;
    }

    @keyframes shake {

        10%,
        90% {
            transform: translate3d(-1px, 0, 0);
        }

        20%,
        80% {
            transform: translate3d(2px, 0, 0) rotate(15deg);
        }

        30%,
        50%,
        70% {
            transform: translate3d(-3px, 0, 0);
        }

        40%,
        60% {
            transform: translate3d(4px, 0, 0) rotate(-5deg);
        }

        100% {
            transform: translate3d(5px, 0, 0) rotate(5deg);
        }
    }

    @keyframes fadeaway {
        to {
            opacity: 0;
            transform: translate(5px, -50px);


        }
    }

    @keyframes implosion {

        to {
            opacity: .1;
            transform: scale(.5, .5);
        }

    }

    @keyframes slide-down {
        from {
            transform: translateY(-120px);
            opacity: .2;
        }

        to {
            transform: translateY(0px, 0, 0);
            opacity: 1;
        }

    }

    @keyframes puzz-slide-down {
        from {
            transform: translateY(-80px);
            opacity: .4;
        }

        to {
            transform: translateY(0px);
            opacity: 1;
        }

    }

    .puzzTween {

        animation-name: puzz-slide-down;
        animation-duration: 1s;
        transition-timing-function: ease-out;
    }

    .tweenDown {
        animation-name: slide-down;
        animation-duration: 1s;
        transition-timing-function: ease-out;
    }

    .apply-shake {
        animation: shake 0.5s 3;

    }

    .disappear {
        animation-name: fadeaway;
        animation-duration: 1.5s;
    }

    .implode {
        animation-name: implosion;
        animation-duration: 1s;
        animation-delay: .5s
    }