    
     body{        
        padding-top: 10px;
    }
     


    #playmode h5 {
        cursor: pointer;

    }

    #anotherGameOpt h4{
        font-size: 1.3em
    }


    #statusMsg {
        padding: 5px;
        color: #e1e9d2;
        background: #476b8f;
        opacity: 0;
    }

    #chgID {
        text-align: center
    }

    #chgID span {
        font-weight: bold;
    }

    .marked.zoom {
        transform: scale(1.3);
    }
   

    .show-none,
    #joinoraccept,
    #acceptBlock {
        display: none;
    }

    #gametable p.redbomb {
        background: url(images/box-red.png) center no-repeat !important;

    }

    #gametable p.greenbox {
        background: url(images/box-green.png) center no-repeat !important;
    }

    #btn {
        text-align: right
    }

    #challengerInfo {
        font-size: 20px;
        text-align: center;
        padding: 5px;
        color: #fff;
        background: rgba(155, 164, 230, 0.6);
        /* position: absolute;
        z-index: 8;
        top: 35px; */

    }

    #challengerInfo span {
        font-weight: bold;
        font-size: 26px
    }

    #challengerInfo span.link-game {
        font-size: .7em;
        font-weight: lighter;
        color: #222271;
        text-decoration: underline;
    }
    #challengerInfo span.sm-txt {
        font-weight: normal;
        font-size: .8em;
    }

    #gameover {
        font-size: 40px;
        font-weight: bold;
        color: #21b5e8;
        text-align: center;
        position: relative;
        top: -300px;
        opacity: .4;
        display: none
    }

    #gametable .row p {
        text-align: center;
        height: 48px;
        width: 48px;
        background: url(images/box.png) center no-repeat;
       /*  pointer-events: auto; */
    }


    .container {
        max-width: 365px;
        height: 95vh;
    }

    .container>div {
        height: 100%;
    }

    #GameHeader,
    #anotherGameOpt {
        height: auto !important;
    }



    #anotherGameOpt {
        /* top: 100px; */
        position: absolute;
        z-index: 10;
        text-align: center;
        background: #cbd0f3;
        padding: 10px;
        color: #453e83;
        border: solid 2px #fff;
    }

    @media screen and (max-width: 700px) {
        #anotherGameOpt {
            width: 80%;
            left: 12%;
        }

    }

    @media screen and (min-width: 701px) {
        #anotherGameOpt {
            width: 50%;
            left: 26%;
        }
    }

    #points div {
        text-align: center
    }

    #points span {
        font-size: 2em;
        font-weight: bold
    }

    @keyframes shake {

        10%,
        90% {
            transform: translate3d(-1px, 0, 0);
        }

        20%,
        80% {
            transform: translate3d(2px, 0, 0) rotate(15deg);
        }

        30%,
        50%,
        70% {
            transform: translate3d(-3px, 0, 0);
        }

        40%,
        60% {
            transform: translate3d(4px, 0, 0) rotate(-5deg);
        }

        100% {
            transform: translate3d(5px, 0, 0) rotate(5deg);
        }
    }

    @keyframes fadeaway {
        to {
            opacity: 0;
            transform: translate(5px, -50px);


        }
    }

    @keyframes implosion {

        to {
            opacity: .1;
            transform: scale(.5, .5);
        }

    }

    @keyframes slide-down {
        from {
            transform: translateY(-120px);
            opacity: .2;
        }

        to {
            transform: translateY(0px, 0, 0);
            opacity: 1;
        }

    }

    .tweenDown {
        animation-name: slide-down;
        animation-duration: 1s;
        transition-timing-function: ease-out;
    }

    .apply-shake {
        animation: shake 0.5s 3;

    }

    .disappear {
        animation-name: fadeaway;
        animation-duration: 1.5s;
    }

    .implode {
        animation-name: implosion;
        animation-duration: 1s;
        animation-delay: .5s
    }